*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", "Courier New", monospace;
    color: white;
}

body{
    background: rgb(85,100,95);
    background: linear-gradient(0deg, rgba(0,100,150,0.9) 25%, rgba(0,100,15,1) 100%);
    background-repeat: repeat;
    background-size: auto;
}

main{
    width: 1000px;
    margin: 3em auto 3em auto;
    padding-bottom: 3em;
}

main #wrapper {
    font-size: x-large;
    background-color: rgba(54, 67, 77, 0.507);
    min-width: 60%;
	width: 100%;
	height: 100%;
	align-items: center;
    padding: 1em;
    border-radius: 50px;
	justify-content: center; 
    box-shadow: 0px 0px 10px black;
}

main #banner{
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
